services:
  postgres_db:
      image: postgres:17
      hostname: postgres_db
      container_name: postgres_db
      restart: always
      environment:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: prisma
      ports:
        - '5432:5432'
      networks:
        - prisma-network
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
        interval: 5s
        timeout: 2s
        retries: 20
  server:
    image: bun-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    env_file:
      - .env.prod
    stdin_open: true
    tty: true  # Keeps the container running for debugging
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - prisma-network
    develop:
      watch:
        - path: .
          action: rebuild
  prisma-studio:
    image: oven/bun:latest
    working_dir: /app
    volumes:
      - .:/app
    command: bunx prisma studio --port 5555 --browser none
    ports:
      - "5555:5555"
    env_file:
      - .env.prod
    networks:
      - prisma-network
    depends_on:
      postgres_db:
        condition: service_healthy
      server:
        condition: service_started
networks:
  prisma-network:
    name: prisma-network